body {
  text-align: center;
  background-color: #051622;
  position: relative;
  font-family: "Karla", sans-serif;
}

.title {
  margin-left: 3%;
  text-align: left;
  color: #00d548;
}

.theme {
  position: absolute;
  top: 3px;
  right: 16px;
}

.themeText {
  color: white;
  position: block;
}
.themeSwitch {
  position: block;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #000f1a;
  color: #00d548;
  text-align: center;
}
